<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m2t.com.tashilatappprototype">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".TasshilatApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.accueil.AccueilActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ui.signIn.SignInActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".ui.signUp.SignUpActivity"
            android:label=""
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Custom.ActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.signIn.SignInDialogActivity" />
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity" />

        <activity
            android:name=".ui.signIn.SignInDialogActivity"
            android:exported="false"
            android:theme="@style/Tasshilat.Translucent.SignInDialog"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>